<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="icon" href="/images/favicon.ico" />
    <link href="/css/output.css" rel="stylesheet" />
  </head>
  <body>
    <!-- cookies -->
    <div
      id="cookies-popup"
      class="popup transition-all overflow-y-auto duration-500 fixed inset-0 z-[100] flex items-center justify-center p-4 bg-black bg-opacity-50"
    >
      <div
        class="bg-white p-8 rounded-lg shadow-lg max-w-2xl w-full max-h-[90vh] overflow-y-auto"
      >
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-2xl font-semibold text-gray-800">
            Your Privacy Matters
          </h2>
          <button
            id="closeBtn"
            class="text-gray-500 hover:text-gray-700 text-2xl"
          >
            &times;
          </button>
        </div>
        <p class="text-gray-600 mb-4">
          We use cookies to ensure that we give you the best experience on our
          website. These cookies help us to personalize content and ads, provide
          social media features, and analyze our traffic. You can choose to
          accept all cookies or customize your settings to manage your
          preferences.
        </p>
        <div class="mb-6">
          <h3 class="text-lg font-semibold text-gray-800">
            What cookies do we use?
          </h3>
          <ul class="list-disc pl-5 mt-2 space-y-1 text-gray-600">
            <li>
              <strong>Essential Cookies:</strong> These cookies are necessary
              for the website to function and cannot be switched off in our
              systems.
            </li>
            <li>
              <strong>Performance Cookies:</strong> These cookies allow us to
              count visits and traffic sources so we can measure and improve the
              performance of our site.
            </li>
            <li>
              <strong>Functional Cookies:</strong> These cookies enable the
              website to provide enhanced functionality and personalization.
            </li>
            <li>
              <strong>Targeting Cookies:</strong> These cookies may be set
              through our site by our advertising partners to build a profile of
              your interests and show you relevant adverts.
            </li>
          </ul>
        </div>
        <div
          class="mt-4 flex flex-col sm:flex-row justify-between space-y-2 sm:space-y-0 sm:space-x-4"
        >
          <button
            id="customizeBtn"
            class="px-4 py-2 border border-gray-300 rounded-md text-gray-600 hover:bg-gray-100"
          >
            Customize Settings
          </button>
          <button
            id="rejectBtn"
            class="px-4 py-2 border border-gray-300 rounded-md text-gray-600 hover:bg-gray-100"
          >
            Reject All
          </button>
          <button
            id="accept-cookies"
            class="px-4 py-2 bg-[#ffb04b] text-white rounded-md hover:bg-opacity-90"
          >
            Accept All Cookies
          </button>
        </div>
      </div>
    </div>

    <header class="fixed bg-white h-fit inset-0 w-full z-50">
      <div
        class="container py-5 flex items-center justify-between gap-5 flex-wrap"
      >
        <div>
          <a href="/">
            <img class="w-44" src="/images/logo.png" alt="logo" />
          </a>
        </div>
        <nav class="hidden lg:block">
          <ul
            class="flex items-center gap-7 text-lg font-medium text-[#232323]"
          >
            <li class="transition-all services">
              <div
                class="flex items-center gap-2 transition-all hover:text-primary"
              >
                <a href="/services">Services</a>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
              <div
                class="absolute service-item top-[100%] left-0 w-screen z-[9999] opacity-0 invisible transition-all"
              >
                <ul
                  class="container grid grid-cols-3 gap-10 bg-white p-7 border shadow rounded"
                >
                  <li>
                    <a href="/services/strategy">
                      <div>
                        <img
                          class="w-full h-fit transition-all hover:opacity-80"
                          src="https://adc-consulting.com/wp-content/uploads/2023/12/Design-1-5.jpg"
                          alt=""
                        />
                        <div>
                          <h3
                            class="text-base mt-4 transition-all hover:text-primary"
                          >
                            Strategy
                          </h3>
                          <p class="text-xs mt-2 hover:text-black">
                            We accelerate the positive and responsible adoption
                            of data and AI, building infrastructure and systems
                            that seamlessly integrate across your organisation.
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/services/engineering">
                      <div>
                        <img
                          class="w-full h-fit transition-all hover:opacity-80"
                          src="https://adc-consulting.com/wp-content/uploads/2023/12/Design-1-4.jpg"
                          alt=""
                        />
                        <div>
                          <h3
                            class="text-base mt-4 transition-all hover:text-primary"
                          >
                            Engineering
                          </h3>
                          <p class="text-xs mt-2 hover:text-black">
                            We accelerate the positive and responsible adoption
                            of data and AI, building infrastructure and systems
                            that seamlessly integrate across your organisation.
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="/services/analytics">
                      <div>
                        <img
                          class="w-full h-fit transition-all hover:opacity-80"
                          src="https://adc-consulting.com/wp-content/uploads/2023/12/Design-1-3.jpg"
                          alt=""
                        />
                        <div>
                          <h3
                            class="text-base mt-4 transition-all hover:text-primary"
                          >
                            Analytics
                          </h3>
                          <p class="text-xs mt-2 hover:text-black">
                            ADC accelerates the positive and responsible
                            adoption of data and AI, specialising in developing
                            intelligent algorithms that extract valuable
                            insights from extensive data.
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="transition-all hover:text-primary">
              <a href="/cases">Cases</a>
            </li>
            <li class="transition-all hover:text-primary">
              <a href="/about">About Us</a>
            </li>
            <li class="transition-all hover:text-primary">
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>

        <div class="hidden lg:block">
          <a
            href="/schedule-consult"
            class="font-bold py-4 px-8 rounded-md bg-primary text-white transition-all hover:bg-black"
            >Get Consultant</a
          >
        </div>

        <div class="block lg:hidden">
          <i
            class="fa-solid fa-bars cursor-pointer text-xl"
            id="toggle-mobile-nav"
          ></i>
        </div>
      </div>

      <!-- mobile menu -->
      <nav
        class="block lg:hidden fixed white min-h-screen inset-0 left-[-100%] top-[76px] w-full bg-white overflow-y-scroll mobile-nav transition-all duration-500 px-10"
        id="mobile-nav"
      >
        <ul
          class="flex flex-col w-full pt-10 gap-7 text-lg font-medium text-[#232323]"
        >
          <li class="transition-all" id="services-mobile">
            <div
              class="flex gap-2 transition-all hover:text-primary cursor-pointer text-center justify-between items-center"
              id="service-mobile-btn"
            >
              <a
                href="/services"
                class="transition-all hover:underline underline-offset-4"
                >Services</a
              >
              <i class="fa-solid fa-chevron-down"></i>
            </div>
            <ul
              class="ml-5 !hidden flex-col gap-7 pt-6"
              id="service-mobile-item"
            >
              <li class="transition-all hover:text-primary">
                <a href="/services/strategy">Strategy</a>
              </li>
              <li class="transition-all hover:text-primary">
                <a href="/services/engineering">Engineering</a>
              </li>
              <li class="transition-all hover:text-primary">
                <a href="/services/analytics">Analytics</a>
              </li>
            </ul>
          </li>
          <li class="transition-all hover:text-primary">
            <a href="/cases">Cases</a>
          </li>
          <li class="transition-all hover:text-primary">
            <a href="/about">About Us</a>
          </li>
          <li class="transition-all hover:text-primary">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <!-- cases section start -->
    <section class="py-24 mt-12 cases">
      <div class="container">
        <h2
          class="font-semibold text-center text-[24px] leading-[32px] sm:text-[30px] sm:leading-[40px] md:text-[36px] md:leading-[45px] lg:text-[45px] lg:leading-[55px]"
        >
          Our Cases
        </h2>
        <p class="text-[#666666] mt-6 text-center w-[60%] mx-auto">
          Find inspiration, gain valuable insights, and discover effective
          solutions.
        </p>

        <div class="mt-16 case-filter" id="case-filter">
          <button
            class="rounded-full border py-3 px-8 transition-all hover:bg-black hover:text-white hover:border-black lg:hidden flex items-center gap-3 outline-none"
            id="filter-btn"
          >
            <i class="fa-solid fa-plus"></i>
            <span>Filter</span>
          </button>
          <ul
            class="mt-8 transition-all lg:mt-0 hidden lg:flex flex-wrap items-center gap-2"
          >
            <li>
              <a
                class="inline-block py-1 px-3 text-lg transition-all <%- activeCategory === 'all' ? 'bg-black text-white' : 'hover:bg-black hover:text-white' %> rounded"
                href="/cases"
                >All</a
              >
            </li>
            <li>
              <a
                class="inline-block py-1 px-3 text-lg transition-all <%- activeCategory === 'Agriculture-Food' ? 'bg-black text-white' : 'hover:bg-black hover:text-white' %> rounded"
                href="/cases?category=Agriculture-Food"
                >Agriculture & Food</a
              >
            </li>
            <li>
              <a
                class="inline-block py-1 px-3 text-lg transition-all <%- activeCategory === 'Analytics' ? 'bg-black text-white' : 'hover:bg-black hover:text-white' %> rounded"
                href="/cases?category=Analytics"
                >Analytics</a
              >
            </li>
            <li>
              <a
                class="inline-block py-1 px-3 text-lg transition-all <%- activeCategory === 'Engineering' ? 'bg-black text-white' : 'hover:bg-black hover:text-white' %> rounded"
                href="/cases?category=Engineering"
                >Engineering</a
              >
            </li>
            <li>
              <a
                class="inline-block py-1 px-3 text-lg transition-all <%- activeCategory === 'Financial-Services' ? 'bg-black text-white' : 'hover:bg-black hover:text-white' %> rounded"
                href="/cases?category=Financial-Services"
                >Financial Services</a
              >
            </li>
            <li>
              <a
                class="inline-block py-1 px-3 text-lg transition-all <%- activeCategory === 'Healthcare-Life-Sciences' ? 'bg-black text-white' : 'hover:bg-black hover:text-white' %> rounded"
                href="/cases?category=Healthcare-Life-Sciences"
                >Healthcare & Life Sciences</a
              >
            </li>
            <li>
              <a
                class="inline-block py-1 px-3 text-lg transition-all <%- activeCategory === 'Public-Society' ? 'bg-black text-white' : 'hover:bg-black hover:text-white' %> rounded"
                href="/cases?category=Public-Society"
                >Public & Society</a
              >
            </li>
            <li>
              <a
                class="inline-block py-1 px-3 text-lg transition-all <%- activeCategory === 'Strategy' ? 'bg-black text-white' : 'hover:bg-black hover:text-white' %> rounded"
                href="/cases?category=Strategy"
                >Strategy</a
              >
            </li>
          </ul>
        </div>

        <div class="mt-10 grid sm:grid-cols-2 md:grid-cols-3 gap-6">
          <% cases?.forEach(item => { %>
          <div>
            <div class="relative">
              <div class="rounded-lg overflow-hidden">
                <img
                  class="rounded-lg w-full transition-all hover:scale-110"
                  src="<%- item?.img?.src %>"
                  alt=""
                />
              </div>
              <div
                class="bg-white absolute bottom-0 left-0 pt-4 pr-6 rounded-tr-lg flex items-center gap-3"
              >
                <% item?.categories?.forEach(category => { %>

                <span class="inline-block border rounded-full px-4 py-1"
                  ><%- category %></span
                >

                <% }) %>
              </div>
            </div>
            <a
              href="/cases/case-one"
              class="mt-5 inline-block transition-all hover:text-primary font-semibold text-[26px] leading-[26px]"
              ><%- item?.title %></a
            >
            <a
              href="/cases/case-one"
              class="uppercase mt-4 inline-block font-semibold text-[#666] transition-all hover:text-primary"
              >Read more</a
            >
          </div>
          <% }) %>

          <span class="font-medium"
            ><%- cases?.length === 0 ? "No Case Found!!" : "" %></span
          >
        </div>
      </div>
    </section>
    <!-- cases section end -->

    <!-- about section start -->
    <section class="py-24 bg-[#F7F7F7]">
      <div class="container">
        <div class="grid md:grid-cols-2 items-center gap-10">
          <div>
            <h2 class="font-normal text-[30px] leading-[50px]">
              What stage is your organisation in on its data-driven journey?
            </h2>
            <p class="mt-5 text-[#666] text-lg">
              Discover your data maturity stage. Take our Data Maturity
              Assessment to find out and gain valuable insights into your
              organisation’s data practices.
            </p>
            <div class="mt-5 flex items-center gap-3">
              <a
                href="#"
                class="font-bold py-4 px-8 rounded-full bg-primary text-white transition-all hover:bg-black"
                >Read more about the assessment</a
              >
            </div>
          </div>
          <div class="hidden md:block">
            <img
              src="/images/services/service-footer.png"
              class="w-full rounded-lg"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- about section end -->

    <footer class="bg-gray-800 text-white">
      <div class="container mx-auto px-4 py-8">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <!-- Address Section -->
          <div class="space-y-4">
            <div>
              <ul class="space-y-4">
                <li>
                  <p>Want to connect?</p>
                  <h4>
                    <a
                      href="mailto:info@validthemes.com"
                      class="text-primary hover:underline"
                      >info@validthemes.com</a
                    >
                  </h4>
                </li>
                <li>
                  <p>Call us anytime</p>
                  <h4>
                    <a
                      href="tel:+4733378901"
                      class="text-primary hover:underline"
                      >+4733378901</a
                    >
                  </h4>
                </li>
                <li>
                  <p>Our Location</p>
                  <h4>175 10h Street, Office 375 Berlin, Devolina 21562</h4>
                </li>
              </ul>
            </div>
          </div>
          <!-- Quick Links Section -->
          <div class="space-y-4">
            <h4 class="text-lg font-semibold">Quick Links</h4>
            <ul class="space-y-2">
              <li>
                <a href="about-us.html" class="text-primary hover:underline"
                  >Company Profile</a
                >
              </li>
              <li>
                <a href="contact-us.html" class="text-primary hover:underline"
                  >Help Center</a
                >
              </li>
              <li>
                <a href="about-us.html" class="text-primary hover:underline"
                  >Career</a
                >
              </li>
              <li>
                <a href="pricing.html" class="text-primary hover:underline"
                  >Plans & Pricing</a
                >
              </li>
              <li>
                <a
                  href="blog-with-sidebar.html"
                  class="text-primary hover:underline"
                  >News & Blog</a
                >
              </li>
            </ul>
          </div>
          <!-- Our Services Section -->
          <div class="space-y-4">
            <h4 class="text-lg font-semibold">Our Services</h4>
            <ul class="space-y-2">
              <li>
                <a
                  href="services-details.html"
                  class="text-primary hover:underline"
                  >Manage investment</a
                >
              </li>
              <li>
                <a
                  href="services-details.html"
                  class="text-primary hover:underline"
                  >Email Marketing</a
                >
              </li>
              <li>
                <a
                  href="services-details.html"
                  class="text-primary hover:underline"
                  >Growth Hacking</a
                >
              </li>
              <li>
                <a
                  href="services-details.html"
                  class="text-primary hover:underline"
                  >Lead Generation</a
                >
              </li>
              <li>
                <a
                  href="services-details.html"
                  class="text-primary hover:underline"
                  >Offline SEO</a
                >
              </li>
            </ul>
          </div>
          <!-- Newsletter Section -->
          <div class="space-y-4">
            <p>
              Join our subscribers list to get the latest <br />
              news and special offers.
            </p>
            <form action="#" class="flex flex-col space-y-2">
              <input
                type="email"
                placeholder="Your Email"
                class="p-2 border border-gray-300 rounded"
                name="email"
              />
              <button
                type="submit"
                class="bg-primary text-white py-2 px-4 rounded hover:bg-black flex items-center justify-center"
              >
                <i class="fa fa-paper-plane"></i>
              </button>
            </form>
            <fieldset class="flex items-center space-x-2">
              <input
                type="checkbox"
                id="privacy"
                name="privacy"
                class="form-checkbox"
              />
              <label for="privacy" class="text-sm"
                >I agree to the Privacy Policy</label
              >
            </fieldset>
          </div>
        </div>
        <!-- Footer Bottom -->
        <div class="border-t border-gray-600 mt-8 pt-4">
          <div class="flex flex-col md:flex-row justify-between items-center">
            <p>
              © Copyright 2024. All Rights Reserved by
              <a href="#" class="text-primary hover:underline">validthemes</a>
            </p>
            <ul class="flex space-x-4 mt-4 md:mt-0">
              <li>
                <a href="#" class="text-primary hover:underline">Terms</a>
              </li>
              <li>
                <a href="#" class="text-primary hover:underline">Privacy</a>
              </li>
              <li>
                <a href="#" class="text-primary hover:underline">Support</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/45f30cfcd1.js"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
